.helpDescription {
    font-family: inherit, sans-serif;
    padding-top: 20px;
}

.helpPeriodTime {
    font-family: inherit, sans-serif;
}

.helpName {
    font-family: inherit, sans-serif;
}

.helpAttributes {
    table-layout: fixed;
    font-family: inherit, sans-serif;
}

.helpAttributesLabel {
    font-family: inherit, sans-serif;
    font-size: 16px;
}