.container {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  min-width: 800px;
}

.containerLoading {
  filter: blur(8px);
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-container input[type=text] {
  background-color: transparent;
  width: 100%; /* Занимает всю ширину контейнера */
  max-width: 400px; /* Ограничиваем ширину на больших экранах */
  padding: 10px;
  font-size: 16px;
}

/* Адаптация для мобильных устройств */
@media (max-width: 600px) {
  .container {
    min-width: auto;
    padding: 10px; /* Уменьшаем отступы */
  }

  .search-container input[type=text] {
    font-size: 14px; /* Уменьшаем размер шрифта */
    padding: 8px;
  }

  .card {
    margin-bottom: 10px; /* Уменьшаем отступы между карточками */
  }

  .card-title {
    font-size: 16px; /* Уменьшаем размер заголовка */
  }

  .card-text {
    font-size: 14px; /* Уменьшаем размер текста */
  }
}